body
{
    background-color: #222222 !important;
    color: #eeeeee !important;
}

#header
{
    background-color: #222222 !important;
    clear: both;
    color: #eeeeee !important;
}

#menu
{
    clear: both;
    color: #069;
    overflow: hidden;
    background-color: #1b1b1b;
    padding: 0.7ex;
    border: 0px !important;
}

a
{
    color: #bdbdbd !important;
}

#header a
{
    color: #bdbdbd !important;
}

#menu a
{
    color: #bdbdbd !important;
}
